<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="copy" class="dropdown">
        <button class="btn btn-secondary dropdown-toggle dropdown" type="button" id="productDropDownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Product name
        </button>
        <div class="dropdown-menu" aria-labelledby="productDropDownMenu">
            <a class="dropdown-item product" th:each="prod : ${products}" th:text="${prod.name}" th:data-prodid="${prod.id}">  </a>
<!--            <a href="" class="dropdown-item">Smart Phone</a>-->
<!--            <a href="" class="dropdown-item">Personal Computer</a>-->
<!--            <a href="" class="dropdown-item">Laptop</a>-->
        </div>
    </div>
</body>
</html>