<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="copy" class="dropdown">
        <button class="btn btn-secondary dropdown-toggle dropdown" type="button" id="supplierDropDownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Suppliers
        </button>
        <div class="dropdown-menu" aria-labelledby="supplierDropDownMenu">
            <a class="dropdown-item supplier">Tiger</a>
            <a class="dropdown-item supplier">Weird Shop</a>
        </div>
    </div>
</body>
</html>