<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="copy">
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <img src='/static/img/shoppingCart.png' height="40" width="auto">
                <span class="close">&times;</span>
            </div>
            <div class="modal-body">
                <div class="item">
                    <div class="buttons">
                        <span class="delete-btn"></span>
                    </div>

                    <div class="image">
                        <img src="/static/img/product_1.jpg" alt=""/>
                    </div>

                    <div class="description">
                        <span>Common Projects</span>
                        <span>Bball High</span>
                        <span>White</span>
                    </div>

                    <div class="quantity">
                        <button class="plus-btn" type="button" name="button">
                            <img src="plus.svg" alt=""/>
                        </button>
                        <input type="text" name="name" value="1">
                        <button class="minus-btn" type="button" name="button">
                            <img src="minus.svg" alt=""/>
                        </button>
                    </div>

                    <div class="total-price">$549</div>
                </div>

                <!-- Product #2 -->
                <div class="item">
                    <div class="buttons">
                        <span class="delete-btn"></span>
                        <span class="like-btn"></span>
                    </div>

                    <div class="image">
                        <img src="/static/img/product_2.jpg" alt=""/>
                    </div>

                    <div class="description">
                        <span>Maison Margiela</span>
                        <span>Future Sneakers</span>
                        <span>White</span>
                    </div>

                    <div class="quantity">
                        <button class="plus-btn" type="button" name="button">
                            <img src="plus.svg" alt=""/>
                        </button>
                        <input type="text" name="name" value="1">
                        <button class="minus-btn" type="button" name="button">
                            <img src="minus.svg" alt=""/>
                        </button>
                    </div>

                    <div class="total-price">$870</div>
                </div>

                <!-- Product #3 -->
                <div class="item">
                    <div class="buttons">
                        <span class="delete-btn"></span>
                        <span class="like-btn"></span>
                    </div>

                    <div class="image">
                        <img src="/static/img/product_3.jpg" alt=""/>
                    </div>

                    <div class="description">
                        <span>Our Legacy</span>
                        <span>Brushed Scarf</span>
                        <span>Brown</span>
                    </div>

                    <div class="quantity">
                        <button class="plus-btn" type="button" name="button">
                            <img src="plus.svg" alt=""/>
                        </button>
                        <input type="text" name="name" value="1">
                        <button class="minus-btn" type="button" name="button">
                            <img src="minus.svg" alt=""/>
                        </button>
                    </div>

                    <div class="total-price">$349</div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" id="chekOut">
                    <img src='/static/img/checkout.png' width="auto" height="25">
                </button>
            </div>
        </div>
    </div>
</div>
